<ion-header>
  <ion-toolbar>
    <ion-title>ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-servicios">
  <div class="Servicios"id="container">
    <ionic-title>
      <div class="atras">
        <ion-button (click)="backtomenu()" size="small"><--</ion-button>
      </div>
      <div class="opcionesUsuario">
        <div class="componentesInicio">
          <div>
            <p>Ingresa el nombre de usuario que quieres editar</p>
            <ion-label  position="stacked">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="nombreUsuario"class="nombreUsuario"></ion-input>
            
          </div>
          <ion-item>
            
            <ion-label  position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="email"class="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" class="passUsuario"type="password"></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-button color="success" (click)="modificarUser()">Modificar Usuario/Contraseña</ion-button>
        </div>
        <div>
          <ion-button color="success" (click)="eliminarUser()">Eliminar Usuario</ion-button>
        </div>
      </div>
    </ionic-title>
  </div>
</ion-content>
