ion-content {
  --ion-background-color: #eeeeee;
}

ion-header{
  --ion-background-color: #c80120;
}
ion-title{
  color: white;
}


#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    transform: translateY(-50%);
  }
  

  
  #container a {
    text-decoration: none;
  }

  .nombreTaller{
    text-align: center;
  }