<ion-header>
  <ion-toolbar>
    <ion-title>ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Reserva"id="container">
    <mat-form-field appearance="fill">
      <mat-label>Selecciona un servicio</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Mecanica General</mat-option>
        <mat-option value="2">Montaje de venta y montaje de llantas</mat-option>
        <mat-option value="3">Hojalateria y pintura automotriz</mat-option>
      </mat-select>
    </mat-form-field>
    <ion-button color="success">Agenda tu hora</ion-button>
  </div>
</ion-content>
