<ion-header class = "Barra">
  <ion-toolbar>
    <ion-title class="nombreTaller">ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class= "Fondo">
  <div class="inicioSesion"id="container">
    <ionic-title>
      <img mat-card-image src="assets/img/tire.png" alt="Photo of a Shiba Inu">
      <h1>Inicio Sesion</h1>
    </ionic-title>
    <div class="componentesInicio">
      <ion-item>
        <p class="alertaError ">{{alertaError}}</p>
        <ion-label  position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="nombreUsuario"class="nombreUsuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="passUsuario" class="passUsuario"type="password"></ion-input>
      </ion-item>
    </div>
    <div class="botonesInicio">
      <ion-button class = "Iniciar" expand="block" (click)="buscarUsuario()">Iniciar</ion-button>
    </div>
    <div class="botoncancelar">
      <ion-button class="cancelar" expand="block">Cancelar</ion-button>
    </div>
    <div class="botoncancelar2">
      <ion-button class="cancelar" expand="block" (click)="gotoRegistro()">Registro</ion-button>
    </div>
  </div>
</ion-content>