<ion-header class = "Barra">
  <ion-toolbar>
    <ion-title class="nombreTaller">ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class= "Fondo">
  <div class="inicioSesion"id="container">
    <ionic-title>
      <h1>Registro Usuario</h1>
    </ionic-title>
    <div class="componentesInicio">
      <ion-item>
        <ion-label  position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="nombreUsuario"class="nombreUsuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </div>
    <div class="botonesInicio">
      <ion-button class = "Iniciar" expand="block">Registrar</ion-button>
    </div>
    <div class="botoncancelar">
      <ion-button class="cancelar" expand="block" (click)="gotoInicio()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>